extends layout

block content
  h1= title
  p Find Top 5 Repositories of Github users
  form(name="search_repo", method="get", action="/user")
    input(type="text", name="username", placeholder="Enter Username")
    input(type="submit", value="Find")
